<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  

  

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('FullName').errors && registerForm.get('FullName').touched}"
      class="form-control" placeholder="Full Name" formControlName="FullName">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('FullName').touched && registerForm.get('FullName').hasError('required')">
      FullName as is required</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('Email').errors && registerForm.get('Email').touched}"
      class="form-control" placeholder="Email" formControlName="Email" type="email" ngModel [email]="true">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('Email').touched && registerForm.get('Email').hasError('required')">
      Email as is required</div>  
    
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}"
      class="form-control" placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker
      [bsConfig]="bsConfig">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">
      Date of Birth is required</div>
  </div>

  

  

  <div class="form-group">
    <input type="password"
      [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      class="form-control" formControlName="password" placeholder="Password">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
      Password is required</div>
    <div class="invalid-feedback"
      *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
      Password must be at least 4 characters</div>
    <div class="invalid-feedback"
      *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
      Password cannot exceed 8 characters</div>
  </div>

  <div class="form-group">
    <input type="password" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
      && registerForm.get('confirmPassword').touched
      || registerForm.get('confirmPassword').touched 
      && registerForm.hasError('mismatch')}" class="form-control" formControlName="confirmPassword"
      placeholder="Confirm Password">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
      Password is required</div>
    <div class="invalid-feedback"
      *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">
      Password must match</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>